@import url("https://fonts.googleapis.com/css2?family=Amiri&display=swap");

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: inline;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.AppHeader_icon {
    color: #0168ed;
    font-family: 'Amiri';
    font-size: 1.6rem;
    text-decoration: none;
    margin-left: 4rem;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.navlogo {
    width: 35px;
    height: auto;
}
